/* =============== VARIABLES =============== */
$dark-blue: #23167C;
$dark-green: #5CBEC1;
$light-green: #3EE2B5;
$light-blue: #7F95CE;
$purple: #AC61DF;


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;

    .first-section, 
    .second-section, 
    .third-section, 
    .fourth-section,
    .fifth-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex: 1;
        padding: 4rem 0;
    }

    h3 {
        font-size: 1.6rem;
    }

    .first-section {
        gap: 1.5rem;
        width: 80%;

        & > div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            h3 {
                color: $dark-blue;

                &::after {
                    content: '.';
                    color: $light-green;
                }
            }

            .eng-spa {
                color: $purple;
            }
        }

        p {
            font-weight: 300;
            span {
                font-weight: 600;
            }
        }

        &.portfolio {
            flex-direction: row;
            width: 90%;
            flex-wrap: wrap;

            .portfolio-card {
                background-color: #fff;
                display: flex;
                flex-direction: column;
                gap: 30px;
                justify-content: center;
                border-radius: 5px;
                width: 300px;
                text-decoration: none;
                color: #000;
                box-shadow: 0px 30px 90px rgb(0 0 0 / 14%);
                cursor: pointer;

                .img-container {
                    overflow: hidden;
                    border-radius: 5px 5px 0 0;
                    display: flex;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }

                img {
                    width: 100%;
                    border-radius: 5px 5px 0 0;
                    transition: 0.2s linear;
                }

                .port-text-container {
                    padding: 0rem 1.5rem 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 25px;

                    h3 {
                        text-align: start;
                        font-size: 1.3rem;
                        color: #161616;
                        font-weight: 500;
                    }

                    p {
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        text-align: start;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: #707070;
                        height: 80px;
                        display: block;
                        display: -webkit-box;
                        line-height: 28px;
                        font-weight: 400;
                    }

                    i {
                        font-size: 0.9rem;
                        color: #707070;
                        margin-top: 30px;
                    }
                }
            }
        }
    }

    .first-service {
        gap: 2.5rem;

        > div {
            gap: 1rem;
        }

        aside {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }

    .second-section {
        background-color: $dark-green;
        width: 100%;
        display: flex;
        color: white;

        h3 {
            margin-bottom: 1.5rem;
        }

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            gap: 1.5rem;

            div {
                display: flex;
                flex-direction: column;
                gap: 0.2rem;

                h4 {
                    font-size: 1.2rem;
                }

                p {
                    font-weight: 300;
                }
            }
        }
    }

    .second-service {
        > div {
            gap: 2.5rem;
            flex-direction: column-reverse;
        }

        aside {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            h3 {
                margin-bottom: unset;

                &::after {
                    content: '.';
                    color: $purple;
                }
            }

            span {
                color: $dark-blue;
            }
        }
    }

    .third-section {
        gap: 2rem;
        width: 80%;

        h3 {
            margin-bottom: 1rem;
            color: $dark-blue;

            &::after {
                content: '.';
                color: $light-green;
            }
        }

        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem 0;

            .expertise {
                width: 50%;
                text-align: center;
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                font-weight: 500;
                background: -webkit-linear-gradient(245deg, $light-blue, $dark-blue);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .third-service {
        h3 {
            margin-bottom: unset;
        }

        p {
            font-weight: 300;
        }
    }

    .fourth-section {
        background-color: $light-blue;
        color: #fff;

        div {
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            p {
                font-size: 1.3rem;
            }

            q {
                font-style: italic;
                line-height: 1rem;
            }
        }
    }

    .fourth-section-carousel {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        height: 35rem;
        justify-content: center;
        background: $light-blue;
        color: #fff;

        h3 {
            text-align: center;
            width: 80%;
        }
    }

    .fourth-section-carousel.light-green {
        background: $dark-green;
    }

    .fifth-section {
        gap: 0.5rem;
        width: 80%;

        h3 {
            color: $dark-blue;
        }

        a {
            margin-top: 1rem;
            text-decoration: none;
            background: #753d9b;
            color: #fff;
            padding: 0.5rem 1.7rem 0.3rem;
            border-radius: 5px;
            position: relative;
            display: inline-block;
            overflow: hidden;

            span {
                position: relative;
                z-index: 10;
                transition: color 0.3s;
            }

            &:hover {
                span {
                    color: #fff;
                }
            }

            &::before, &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
            }

            &::before {
                content: "";
                background: $purple;
                width: 120%;
                left: -10%;
                transform: skew(30deg);
                transition: transform 0.3s cubic-bezier(0.3, 1, 0.8, 1);
            }

            &:hover::before {
                transform: translate3d(100%, 0, 0);
            }
        }
    }

    .contact-btn {
        text-decoration: none;
        background: #753d9b;
        color: #fff;
        padding: 0.3rem 0.7rem 0.2rem;
        border-radius: 5px;
        align-self: center;
        position: relative;
        display: inline-block;
        overflow: hidden;

            span {
                position: relative;
                z-index: 10;
                transition: color 0.3s;
            }

            &:hover {
                span {
                    color: #fff;
                }
            }

            &::before, &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
            }

            &::before {
                content: "";
                background: $purple;
                width: 120%;
                left: -10%;
                transform: skew(30deg);
                transition: transform 0.3s cubic-bezier(0.3, 1, 0.8, 1);
            }

            &:hover::before {
                transform: translate3d(100%, 0, 0);
            }
    }
}


@media only screen and (max-width: 320px) {
    .main-container { 
        .fourth-section-carousel {
            height: 35rem;
        }
    }
}


@media only screen and (min-width: 600px){
    .main-container {
        .first-section, .third-section {
            width: 60%;
        }

        .second-section, .fourth-section {
            div {
                width: 60%;
            }
        }

        .first-section {
            &.portfolio {
                .portfolio-card {
                    width: 400px;

                    .port-text-container {
                        padding: 0rem 2rem 30px;
                    }
                }
            }
        }

        .second-service {
            > div {
                width: 60%;

                div {
                    width: unset;
                }
            }
        }

        .fourth-section-carousel {
            height: 26rem;

            h3 {
                width: 60%;
            }
        }
    }
}


@media only screen and (min-width: 768px) {
    :root {
        font-size: 18px;
    }

    .main-container {
        .first-section {
            &.portfolio {
                justify-content: space-between;
                width: 635px;

                .portfolio-card {
                    width: 300px;
                    height: 500px;

                    .img-container {
                        height: 40%;
                    }

                    .port-text-container {
                        padding: 0rem 2rem 30px;
                        height: 60%;

                        h3 {
                            font-size: 1.4rem;
                        }

                        p {
                            font-size: 0.9rem;
                        }

                        i {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }

        .second-section {
            h3 {
                width: 100%;
            }

            > div {
                flex-direction: row;
                width: 90%;
                gap: 1rem 1.5rem;
                flex-wrap: wrap;
                justify-content: center;

                div {
                    width: 30%;
                    gap: 0.5rem;

                    h4 {
                        font-size: 1rem;
                    }
                }
            }
        }

        .second-service {
            > div {
                flex-direction: column;
                width: 60%;
                gap: 2.5rem;

                div {
                    width: unset;
                }
            }
        }

        .third-section {
            div {
                .expertise {
                    width: 25%;
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) { 
    .main-container {
        .first-section {
            &.portfolio {
                justify-content: flex-start;
                width: 954px;
            }
        }
    }
}

@media only screen and (min-width: 1366px) { 
    .main-container {
        .first-section,
        .second-section,
        .third-section,
        .fourth-section,
        .fifth-section{
            padding: 6rem 0;
            width: 100%;
        }

        .first-section,
        .third-section {
            width: 50%;
        }

        .first-service,
        .third-service {
            width: 60%;
            flex-direction: row;

            > div {
                text-align: start;
                justify-content: flex-start;
                flex: 1;

                h3 {
                    font-size: 2.6rem;
                }

                .contact-btn {
                    align-self: start;
                }

                &:nth-child(even) {
                    text-align: end;
                }
            }
        }

        .first-section {
            &.portfolio {
                justify-content: flex-start;
                width: 1254px;

                .portfolio-card {
                    width: 400px;
                    height: 600px;

                    .port-text-container {
                        p {
                            -webkit-line-clamp: 5;
                            height: 138px;
                        }
                    }
                }
            }
        }

        .second-section{
            > div {
                width: 60%;
            }
        }

        .second-service {
            > div {
                flex-direction: row;
                flex-wrap: nowrap;

                div {
                    flex: 1;
                    text-align: start;

                    aside {
                        h3 {
                            font-size: 2.6rem;
                        }
                    }

                    .contact-btn {
                        align-self: flex-end;
                    }

                    &:nth-child(even) {
                        text-align: end;
                    }
                }
            }
        }

        .third-section {
            div {
                .expertise {
                    width: 20%;
                }
            }
        }

        .fourth-section {
            div {
                width: 50%;
            }
        }

        .fourth-section-carousel {
            h3 {
                width: 50%;
            }
        }
    }
}

@media only screen and (min-width: 1920px) {  
    :root {
        font-size: 20px;
    }

    .main-container {

        .first-section {
            &.portfolio {
                justify-content: flex-start;
                width: 1410px;

                .portfolio-card {
                    width: 450px;
                    height: 750px;

                    .img-container {
                        height: 45%;
                    }

                    .port-text-container {
                        justify-content: space-evenly;
                        p {
                            -webkit-line-clamp: 5;
                            height: 138px;
                        }
                    }
                }
            }
        }
    }
}