/* =============== VARIABLES =============== */
$dark-blue: #23167C;
$dark-green: #5CBEC1;
$light-green: #3EE2B5;
$light-blue: #7F95CE;
$purple: #AC61DF;


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    .first-section, 
    .second-section, 
    .third-section, 
    .fourth-section,
    .fifth-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex: 1;
        padding: 4rem 0;
    }

    h3 {
        font-size: 1.6rem;
    }

    .first-section {
        gap: 1.5rem;
        width: 80%;

        & > div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            h3 {
                color: $dark-blue;

                &::after {
                    content: '.';
                    color: $light-green;
                }
            }

            span {
                color: $purple;
            }
        }

        p {
            font-weight: 300;
            span {
                font-weight: 600;
            }
        }
    }

    .second-section {
        background-color: $dark-green;
        width: 100%;
        display: flex;
        color: white;

        h3 {
            margin-bottom: 1.5rem;
        }

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            gap: 1.5rem;

            div {
                display: flex;
                flex-direction: column;
                gap: 0.2rem;

                h4 {
                    font-size: 1.2rem;
                }

                p {
                    font-weight: 300;
                }
            }
        }
    }

    .third-section {
        gap: 2rem;
        width: 80%;

        h3 {
            margin-bottom: 1rem;
            color: $dark-blue;

            &::after {
                content: '.';
                color: $light-green;
            }
        }

        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem 0;

            .expertise {
                width: 50%;
                text-align: center;
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                font-weight: 500;
                background: -webkit-linear-gradient(245deg, $light-blue, $dark-blue);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .fourth-section {
        background-color: $light-blue;
        color: #fff;

        div {
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            q {
                font-style: italic;
                line-height: 1rem;
            }
        }
    }

    .fifth-section {
        gap: 0.5rem;

        h3 {
            color: $dark-blue;
        }

        a {
            margin-top: 1rem;
            text-decoration: none;
            background: $purple;
            color: #fff;
            padding: 0.5rem 1.7rem 0.3rem;
            border-radius: 5px;
        }
    }
}


@media only screen and (min-width: 600px){
    .main-container {
        .first-section, .third-section {
            width: 60%;
        }

        .second-section, .fourth-section {
            div {
                width: 60%;
            }
        }
    }
}


@media only screen and (min-width: 768px) {
    :root {
        font-size: 18px;
    }

    .main-container {
        .second-section {
            h3 {
                width: 100%;
            }

            > div {
                flex-direction: row;
                width: 90%;
                gap: 1rem 1.5rem;
                flex-wrap: wrap;
                justify-content: center;

                div {
                    width: 30%;
                    gap: 0.5rem;

                    h4 {
                        font-size: 1rem;
                    }
                }
            }
        }

        .third-section {
            div {
                .expertise {
                    width: 25%;
                }
            }
        }
    }
}