/* =============== VARIABLES =============== */
$dark-blue: #23167C;
$dark-green: #5CBEC1;
$light-green: #3EE2B5;
$light-blue: #7F95CE;
$purple: #AC61DF;


header {
    background-image: linear-gradient(
    180deg,
    hsl(247deg 94% 12%) 0%,
    hsl(247deg 81% 15%) 31%,
    hsl(247deg 77% 18%) 46%,
    hsl(247deg 74% 20%) 56%,
    hsl(247deg 73% 21%) 63%,
    hsl(247deg 72% 23%) 70%,
    hsl(247deg 71% 25%) 77%,
    hsl(248deg 71% 26%) 84%,
    hsl(248deg 70% 27%) 92%,
    hsl(248deg 70% 29%) 100%
    );
    max-height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;

    h1 {
        color: #fff;
        font-weight: 500;

        span.dot::after {
            content: '.';
            color: $light-green;
        }
    }

    .dot::after {
        content: '.';
            color: $light-green;
    }

    .title-parag-btn {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        gap: 1rem;
        padding-top: 6rem;

        p {
            text-align: center;
            font-weight: 300;

            span {
                font-weight: 800;
            }
        }

        a {
            background: $light-green;
            padding: 0.3rem 2.6rem 0.2rem;
            text-decoration: none;
            border-radius: 5px;
            color: $dark-blue;
        }
    }

    .background-image {
        width: 90%;
        height: 50vh;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 18rem;
        }
    }
}

@media only screen and (max-width: 320px) {
    header {
        .background-image {
            img {
                width: 16rem;
            }
        }
    }
}


@media only screen and (min-width: 600px) {
    header {
        justify-content: center;

        .title-parag-btn {
            width: 70%;
        }

        .title-parag-btn {
            width: 60%;
        }

        .background-image {
            img {
                width: 22rem;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    header {
        .title-parag-btn {
            width: 50%;
        }
    }
}

@media only screen and (min-width: 1366px) {
    header {
        flex-direction: row;
        padding-top: 4rem;
        justify-content: center;

        h1 {
            font-size: 3.8rem;
        }

        .title-parag-btn {
            padding: unset;
            width: 40%;
            align-items: flex-start;

            p {
                text-align: start;
                width: 70%;
                font-size: 1.2rem;
            }
        }

        .background-image {
            width: 40%;
            height: 100%;

            img {
                width: 30rem;
            }
        }
    }
}

@media only screen and (min-width: 1920px) { 
    header {
        padding-top: 6rem;

        h1 {
            font-size: 3.8rem;
        }

        .title-parag-btn {
            p {
                width: 75%;
            }
        }

        .background-image {
            width: 35%;
        }
    }
}