/* =============== VARIABLES =============== */
$dark-blue: #23167C;
$dark-green: #5CBEC1;
$light-green: #3EE2B5;
$light-blue: #7F95CE;
$purple: #AC61DF;


footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #23167C;
    background-image: linear-gradient(
    180deg,
    hsl(248deg 70% 29%) 0%,
    hsl(248deg 70% 27%) 31%,
    hsl(248deg 71% 26%) 46%,
    hsl(247deg 71% 25%) 56%,
    hsl(247deg 72% 23%) 63%,
    hsl(247deg 73% 21%) 70%,
    hsl(247deg 74% 20%) 77%,
    hsl(247deg 77% 18%) 84%,
    hsl(247deg 81% 15%) 92%,
    hsl(247deg 94% 12%) 100%
    );
    height: 400px;
    color: #fff;

    .logo-parag {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        img {
            width: 12rem;
        }

        p {
            width: 14rem;
            text-align: center;
        }
    }

    .socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        span {
            font-size: 1.5rem;

            &::after {
                content: '.';
                color: $light-green;
            }
        }

        div {
            display: flex;
            gap: 10px;
            align-items: center;

            ul {
                display: flex;
                gap: 10px;

                li {
                    list-style: none;
                    display: flex;
                    align-items: center;

                    a {
                        display: flex;
                        align-items: center;
                        img {
                            width: 2rem;

                            &:hover {
                                filter: hue-rotate(300deg);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* =============== MEDIA QUERYS =============== */

@media only screen and (min-width: 768px) {
    footer {
        flex-direction: row;
        justify-content: center;

        .logo-parag {
            width: 50%;
            align-items: flex-start;

            p {
                text-align: unset;
            }
        }
    }
}


@media only screen and (min-width: 1024px) {
    footer {
        height: 300px;

        .logo-parag {
            p {
                text-align: unset;
                width: 16rem;
            }
        }
    }
}

@media only screen and (min-width: 1920px) {
    footer {
        .logo-parag {
            p {
                text-align: unset;
                width: 20rem;
            }
        }
    }
}